
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

  *{
    scroll-behavior: smooth;
      transition: all 0.6s;
  }
.box{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://cdn.pixabay.com/photo/2014/08/29/03/02/horses-430441__340.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  
}
.signup{
  width: 400px;
  height: 500px;

}
.signuinput{
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #d4d4d4;
}
.buttons{
  width: 300px;
  margin-top: 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
button{
  width: 90px;
  border-radius: 9px;
  border: none;
  background-color: rgb(240, 10, 10);
  color:rgb(238, 238, 238);
  font-size: larger;
}
.log-btn{
  margin-top: 20px;
  width: 90px;
  height: 50px;
  background-color: rgb(240, 10, 10);
  margin-left: 90px;
  
}
.signuph1{
  color: rgb(240, 10, 10);
  text-decoration: underline;
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
}
.log-btn-sinpage{
  color:rgb(238, 238, 238) ;
  text-decoration: none;
}
.blogbox{
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}
.added-blogall{
  background-color: #f3f3f3;

background: rgb(250,251,255);
background: linear-gradient(90deg, rgba(250,251,255,1) 16%, rgba(15,232,215,1) 41%, rgba(16,203,211,1) 53%, rgba(16,206,211,1) 71%, rgba(16,192,209,1) 86%, rgba(18,137,199,1) 100%);
}
.blogh1{
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 3em;
  color: red;
  text-decoration:underline;
  font-family: 'Kaushan Script', cursive;
}
.blogh2{
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}
.bloginput{
  width: 500px;
  margin-left: 90px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: larger ;
  /* background-color: #ffffff; */
}
.blogtextarea{
  margin-left: 90px;
  width: 1100px;
  height: 300px;
  border-radius: 5px;
  font-size: 1.5em;
  border: 1px solid black;
  /* background-color: #d4d4d4; */
}
.signuph2{
  color: rgb(0, 0, 0);
  font-size: 2.5em;
}
body{
  background-color:rgb(255, 255, 255);
}
.home{
  /* background-position: left top; */
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: sticky;
  size-adjust: inherit;
}
.home .cmt{
  background-position: left top;
  -webkit-animation-duration: 2s;
  padding-top:95px;
            margin-bottom:60px;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadein {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  
}
.blogbtn{
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-left: 100px;
}
.nav{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:rgb(0, 0, 0);
  background-color:rgb(216, 216, 208);
  transform: translate(0px,-10px);
  /* position: fixed; */
  

}
.p{
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navchild1{
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  /* transform: translate(-100px); */
}
.navchild1 a{
  text-decoration: none;
  color: #03692a;

}
.navchild2{
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* border: 1px solid black; */
  /* transform: translate(70px); */
}


/* HomeAllblog css */

.home-person-logo{
  width: 120px;
  height: 40px;
}
.arrow{
  color: rgb(255, 255, 255);
}
.arr1{
  width:17px;
  height: 17px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}
.arr-out{
  transform: translate(5px,-11px);
}
.img-cards{
  width: 330px;
  height: 250px;
  margin-top: 90px;
  border-radius: 7px;
  margin-left: 30px;
  margin-right: 30px;
  object-fit: cover;
  /* -webkit-filter: grayscale(100%); */
  box-shadow: rgba(124, 124, 129, 0.507) 0px 7px 29px 0px;
  
}
.img-cards:hover{
  -webkit-filter:none;
  transition: all 0.5s;

}
.img-cards:hover img{
  transform: scale(1.1);
}
/* carosal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

    



  


.temporary_text {
  font-weight: bold;
  font-size: 2.5em;
  padding: 6px 12px;
  color: #000000;
  margin-left: 10px;
}

.card_title {
  font-weight: bold;
  margin-left: 5px;
  width: 300px;
  
}
.catagoryblogs{
 margin-top: 100px;
 transform: translate(40px,130px);
 
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #000000;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #ffffff;
  line-height: 15px;
  font-size:2em ;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  font-size: larger;
  width: auto;
  color: white;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  color: white;
  transition: opacity .5s;
  transform: translate(900px,-70px);
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}



.homeicons{
  width: 1150px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid; */
  align-items: center;
  color: red;
  /* margin-top: 9px; */
}





/* userblogcardcss */

.carduserblog{
  box-sizing: border-box;
  width: 550px;
  height: 280px;
  background: rgb(255, 255, 255);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  /* backdrop-filter: blur(6px); */
  border-radius: 17px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.5s;
  /* display: flex; */
  /* align-items: stretch; */
  /* justify-content: center; */
  /* user-select: none;                                                                                                        */
  font-weight: bolder;
  color: black;
  margin: 10px;
  padding-left: 10px;
}
.userblogcard::-webkit-scrollbar {
  display: none;
}

.carduserblog:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.carduserblog:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.login-signup-btn{
  color: #000000;
  text-decoration: none;
}
.userblog{
  background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


/* button */
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #000000;
  padding: 0.7em 1.7em;
  /* margin: 10px; */
  font-size: 18px;
  border-radius: 20px;
  background: transparent;
  transform: translate(-20px);
  
  /* border: 1px solid #e8e8e8; */
  /* box-shadow: 6px 6px 12px #d32929,
  -6px -6px 12px #d33a3a; */
}

.button2:active {
  color: #ffffff;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color:#145c30;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #145c30;
}

.button2:hover:before {
  top: -35%;
  background-color: #2e7e4c;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  color: white;
  background-color: #52996d;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* button3 home */
.button3 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  padding: 0.7em 1.7em;
  margin: 10px;
  font-size: 18px;
  border-radius: 20px;
  /* background: #ffffff; */
  /* border: 1px solid #000000; */
  /* box-shadow: 6px 6px 12px #d32929,
             -6px -6px 12px #d33a3a; */
}

.button3:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #388f59,
             inset -4px -4px 12px #e63434;
}

.button3:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button3:after {
  /* content: ""; */
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #388f59;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.logout{
  text-decoration: none;
  color: rgb(0, 0, 0);
  
}


.button3:hover {
  color: #ffffff;
  /* border: 1px solid #009087; */
  border: 1px solid #388f59;
}

.button3:hover:before {
  top: -35%;
  /* background-color: #009087; */
  background-color: #388f59;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button3:hover:after {
  top: -45%;
  /* background-color: #009087 */
  background-color: #388f59;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.userblogcard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 520px;
  overflow-y: scroll;
  /* border: 2px solid white; */
  width: 1144px;
  border-radius: 20px;
  margin-left: 80px;
}

.authorname{
  margin: 5px;
  font-size: xx-large;
  margin-right: 180px;
  color: red;
  margin-bottom: 20px;
}
.Name{
  margin: 10px;
  font-size: larger;
  /* width: 200px; */
  /* height: 30px; */
  overflow-wrap: break-word;
  /* margin-left: 10px; */
  color: rgb(138, 137, 137);
  
}


/* Edit blog */
.editbody{
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.outlookindia.com/outlooktraveller/public/uploads/articles/explore/Main_image_Karan_story_from_Shutterstock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cardedit {
  width: 850px;
  height: 500px;
  border-radius: 30px;
  background: #ffffff;
  background-color: rgba(0, 0, 0, 0.479);
  /* border: 2px solid; */

 }
 .usercarddiscription{
  /* width: 400px; */
margin: 10px;
color: rgb(138, 137, 137);
 }
 .userbloghead{
  color: red;
  font-size: 3em;
  width: 400px;
  height: 100px;
  margin-left: 60px;
  font-family: 'Kaushan Script', cursive;


 }

.delete-edit-icons{
  /* border: 1px solid black; */
  width: 500px;
  height: 40px;
transform: translate(0px,17px);
display: flex;
justify-content: space-around;
}
.usericons{
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: black;
}
.usericons:hover{
  border: none;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  transform: scale(1.5);
  box-shadow: rgb(12, 10, 10) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(175, 171, 171, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
  transition: 0.5s ease;

}
.Descripion{
  margin: 10px;
  color: rgb(138, 137, 137);

}
.person{
/* border: 1px solid; */
height: 60px;
margin-top: 5px;
width: 140px;
display: flex;
align-items: center;

}
.personicon{
  transform: translate(0px,-8px);
  /* transform: scale(1.5); */
  font-size: 1em;
}
.edith1{
  color: red;
  margin-left: 60px;
  transform: translate(0px,20px);
  font-size: 3em;
  font-family: 'Kaushan Script', cursive;
  
}
.edith2{
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.edith3{
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.editinput{
  width: 500px;
  margin-left: 30px;
  /* font-family: 'Acme', sans-serif; */
  height: 50px;
  font-size: larger;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
.edittextarea{
  width: 700px;
  margin-left: 30px;
  /* font-family: 'Acme', sans-serif; */
  height: 170px;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.212);
  border-radius: 10px;
  background-color: #ffffff;

}
.edit-btn{
  width: 100px;
  height: 50px;
  transform: translate(630px,-430px);
}
.addblog-linktag{
  color:white;
  text-decoration: none;
}
.login-img{
  width: 600px;
  height: 400px;
  margin-right: 60px;
  transform: translate(0px,80px);
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
}
.login-img:hover{
  -webkit-filter:none;
  transition: all 0.5s;
}



/* logout btn */
.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  transform: translate(0px,5px);
  height: 30px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -35px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.logout{
  background-color: transparent;
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(202, 204, 202), rgb(253, 255, 253));
  color: #000000;
}
.uiverse:hover .logout{
  color: rgb(20, 20, 20);
}

/* about icon */





img{
  width: 100vw;
}



.u-added-blogs-backbtn{
  width: 100px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translate(1100px,-80px);
  text-decoration: none;
  color: black;
  background-color:#e2cf6d ;
}
.dialog{
  width: 300px;
  height: 200px;
  background-color: white;
}
.select-box{
  width: 150px;
  height: 30px;
  margin: 10px;
  margin-left: 30px;
  border-radius: 5px;
}
.add-select{
  margin-left: 90px;
  margin-top: 20px;
}
.homecatagory-select{
  width: 120px;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
}
.homecatagory-select:hover option:hover{
  visibility: visible;
  color: black;
  border-radius: 5px;
  height: 200px;
  font-size: larger;
}
option{
  color: #000;
}
.homecatagory-option{
  border-radius: 5px;
  margin-top: 20px;
}

/* singleBlogView */
.picture-heading{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.view-img{
  width: 400px;
  height: 500px;
border-radius: 5px  ;
}
.viewh1{
transform: translate(80px,100px);
  font-size: 3em;
  width: 500px;
  height: 300px;
  text-align: center;
  text-rendering: geometricPrecision;
  /* border: 1px solid; */
  /* overflow: hidden; */
  overflow-wrap: break-word;
  color: rgb(22, 22, 199);
}
.view-icons{
  width: 1100px;
  height: 50px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.username{
transform: translate(150px,165px);
width: 350px;
/* border: 1px solid; */
display: flex;
align-items: center;
color: red;
}
.view-detail{
  width: 1100px;
  height: auto;
  margin-left: 145px;
  text-align: justify;
  margin-bottom: 50px;
}
.comments{
  width: 900px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.commented-user{
  margin: 20px;
  color: #d4b216;
}
.comment-detail{
  margin: 6px;
  text-align: justify;
}
.comment-section{
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.comment-input{
  width: 400px;
  height: 50px;
}
.add-commentbtn{
  width: 90px;
  height: 50px;
  margin-left: 8px;
}
.comment-colour{
  width: 100vw;
  height: auto;

}
.map-comments{
  /* border: 2px solid black; */
  width: auto;
  /* height: 600PX; */
  margin-top: 20PX;
  overflow-x: scroll;
}
.map-comments::-webkit-scrollbar {
  display: none;
}
.commentp{
  width:auto;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
}
.date{
  transform: translate(700px,22px);
  font-size: small;
}
.AuthorAllBlogs{
  width: 1100px;
  height: 300px;
  margin-left: 100px;
  border: 1px solid;
  margin-top: 10px;
  background-color: rgb(205, 228, 235);
  border-radius: 20px;
}
.AllBlogsOfAuthor{
  width: 100vw;
  height: 600px;
  overflow-y: scroll;
  margin-top: 60px;
}
.allbloghead{
  margin: 50px;
}
.head-btn{
  display:flex ;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
  margin-left: 50px;
}
.btn{
  width: 100px;
  height:50px;

}
.Allblogh1{
  margin: 20px;
}



/* like icon css */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 35px;
  transition: all 0.1s;
  fill: #666;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #E3474F;
}
